<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Banking_Management_system.Properties.Settings.UpdatedBank_Management__System__1_ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;|DataDirectory|\UpdatedBank_Management _System (1).mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Banking_Management_system.Properties.Settings.BankManagementSystemConnectionString"
            connectionString="Data Source=SAKSHIJI\SQLEXPRESS;Initial Catalog=BankManagementSystem;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>